#party{background-color:#09573a;height:800px;}
.pil {color:white;font-family:montserrat,Sans-serif;font-weight:800;font-size:54px;text-align:center;padding-top:50px;}
.board a{color:white;padding-left:70px;font-size:30px;margin-top:-30px;line-height:80px;}
.board a:hover{color:MediumSeaGreen;}
.panelss{background-color:#053624;}
.two{color:white; font-size:50px;font-family: michroma,Sans-serif;font-weight:bold;text-align:center;padding-top:50px;}
#kattti {height: 400px;}
